.button{
	display: inline-block;
	border-radius: 15px;
	background-color: #ecb9d1;
	color: #ffff00;
	padding: 15px 25px 15px 25px;
	font-size: 14pt; 
	cursor: pointer;
	
	
}

.button:HOVER {
	background-color: #0000ff;
	color: #ffff00;
	
}